<html>
<title>DEMO</title>
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <style>
    blockquote {
      text-align: left;
      white-space: normal;
      font-size: small;
      color: #999;
    }

    .card-title {
      font-size: large;
    }

    .nav-wrapper {
      padding-left: 2rem;
    }
  </style>
</head>
<body>
  <nav>
    <div class="nav-wrapper yellow darken-3">
      <div class="row">
        <div class="col s8">
          <a class="breadcrumb" href="?keyword={{ data['parent'] | default('', true) }}">
             {{ data['parent'] or data['category_zh_tw'] | default('總覽', true) }} ({{ data['parent_count'] }})</a>
          {%- if data['orig_keyword'] -%}
          <a class="breadcrumb">{{ data['orig_keyword'] }} ({{ data['count'] }})</a>
          {% endif %}
        </div>
        <div class="col s4">
          <form>
            <div class="input-field">
              <input name="keyword" id="keyword" type="search" action="" method="get" required>
              <input name="limit" id="limit" type="hidden" value="100" />
              <label class="label-icon" for="search"><i class="material-icons">search</i></label>
              <i class="material-icons">close</i>
            </div>
          </form>
        </div>
      </div>
    </div>
  </nav>
  <ul>
  {% for item in data['items'] %}
    <li class="card-panel hoverable">
      <div class="card-content">
        <span class="card-title blue-text text-darken-1">
          <i class="material-icons">add</i>
          {{ item['title'] | hightlight_keywords(data['keyword']) | safe }}
        </span>
        <p class="left">
          <blockquote class="truncate">
            {{ item['summary'] | hightlight_keywords(data['keyword']) | safe }}
          </blockquote>
        </p>
      </div>
      <a class="chip grey-text" href="?cat={{ item['source'] }}">{{ item['source'] }} / {{ item['published_humanize'] }}</a>
      <span class="chip green lighten-3 white-text">#{{ item['id'] }}</span>
      {% for keyword in item['founds'] %}
      <a class="chip red lighten-3 white-text" href="?keyword={{ keyword }}">
        {{ keyword }}
      </a>
      {% endfor %}
      <div class="card-action">
        <div class="right-align">
          <a class="waves-effect waves-light grey btn" target="_blank" href="{{ item['link'] }}">新聞連結</a>
        </div>
      </div>
    </li>
  {% endfor %}
  </ul>

  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/js/materialize.min.js"></script>
</body>
</html>
