<html>
<title>DEMO</title>
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
  <ul>
  {% for item in data['items'] %}
    <li class="row">
      <div class="col s12 m6">
        <div class="card">
          <div class="card-content">
            <span class="card-title">{{ item['title'] }}</span>
            <span class="chip">{{ item['source'] }} / {{ item['published'] }}</span>
            <blockquote>{{ item['summary'] }}</blockquote>
          </div>
          <div class="card-action">
            <a href="{{ item['link'] }}">新聞連結</a>
          </div>
        </div>
      </div>
    </li>
  {% endfor %}
  </ul>

  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
</body>
</html>
