<html>
<title>大肚山計畫媒體輿情剪報系統 - PROTOTYPE</title>
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/css/materialize.min.css" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  <style>
    blockquote {
      text-align: left;
      white-space: normal;
      font-size: small;
      color: #999;
    }

    ul.header > li > a, .card-title {
      font-size: large;
    }

    .chip {
      font-size: x-small;
    }

    div.header {
      margin-left: 1rem;
    }

    .card-panel blockquote {
      cursor: pointer;
    }

  </style>
</head>
<body>
  <!-- Dropdown Structure -->
  <ul id="dropdown-time" class="dropdown-content">
    <li><a href="/daily">日報</a></li>
    <li><a href="/weekly">週報</a></li>
    <li class="divider"></li>
    <li><a href="/">總覽</a></li>
  </ul>
  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper teal lighten-2">
        <div class="row">
          <div class="col left">
            {%- if not data['keyword'] and not data['category'] -%}
            <ul class="header">
              <!-- Dropdown Trigger -->
              <li><a class="dropdown-button" href="#!" data-activates="dropdown-time">報表<i class="material-icons right">arrow_drop_down</i></a></li>
              <li><a href="?cat=pmedia">平面</a></li>
              <li><a href="?cat=emedia">電子</a></li>
            </ul>
            {% else %}
            <div class="header">
              <a class="breadcrumb" href="?keyword={{ data['parent'] | default('', true) }}">
              {{ data['parent'] or data['category_zh_tw'] | default('總覽', true) }} ({{ data['parent_count'] }})</a>
              {%- if data['keyword'] -%}
              <a class="breadcrumb">{{ data['keyword'] }} ({{ data['count'] }})</a>
              {% endif %}
            </div>
            {% endif %}
          </div>
          <div class="col right hide-on-small-only">
            <form>
              <div class="input-field">
                <input name="keyword" id="keyword" type="search" action="" method="get" required>
                <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                <i class="material-icons">close</i>
              </div>
            </form>
          </div>
        </div>
      </div>
    </nav>
  </div>
  <ul id="cards">
  {% for item in data['items'] %}
    <li class="card-panel hoverable">
      <div class="card-content">
        <span class="card-title blue-text text-darken-1">
          <i class="material-icons">add</i>
          {{ item['title'] | safe }}
        </span>
        <p class="left">
          <blockquote class="truncate">
            {{ item['summary'] | safe }}
          </blockquote>
        </p>
      </div>
      <span title="{{ item['published'] }}" class="chip grey-text">{{ item['published_humanize'] }}</span>
      <a class="chip orange lighten-3 white-text" href="?cat={{ item['source'] }}">{{ item['source'] }}</a>
      <span class="chip green lighten-3 white-text">#{{ item['id'] }}</span>
      {% for keyword in item['founds'] %}
      <a class="chip red lighten-3 white-text" href="?keyword={{ keyword }}">
        {{ keyword }}
      </a>
      {% endfor %}
      <div class="card-action">
        <p class="right-align">
          <a class="waves-effect waves-light grey btn" target="_blank" href="{{ item['link'] }}">新聞連結</a>
        </p>
      </div>
    </li>
  {% endfor %}
  </ul>

  {%- if debug -%}
  <script type="text/javascript" src="static/js/live.js"></script>
  {% endif %}
  {% raw %}
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/js/materialize.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fetch/2.0.3/fetch.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.6/handlebars.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-throttle-debounce/1.1/jquery.ba-throttle-debounce.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>

  <script id="card-template" type="text/x-handlebars-template">
    <li class="card-panel hoverable">
      <div class="card-content">
        <span class="card-title blue-text text-darken-1">
          <i class="material-icons">add</i>
          {{{ title }}}
        </span>
        <p class="left">
          <blockquote class="truncate">
            {{{ summary }}}
          </blockquote>
        </p>
      </div>
      <span title="{{ timeformat published 'YYYY-MM-DD HH:mm:SSZZ' }}" class="chip grey-text">{{ published_humanize }}</span>
      <a class="chip orange lighten-3 white-text" href="?cat={{ source }}">{{ source }}</a>
      <span class="chip green lighten-3 white-text">#{{ id }}</span>
      {{#list founds}}
        {{keyword}}
      {{/list}}
      <div class="card-action">
        <p class="right-align">
          <a class="waves-effect waves-light grey btn" target="_blank" href="{{ link }}">新聞連結</a>
        </p>
      </div>
    </li>
  </script>

  <script type="text/javascript">
    jQuery('#cards').delegate('blockquote','click',function() {
        jQuery(this).toggleClass('truncate')
    })

    jQuery(document).ready(function () {
      jQuery('.dropdown-button').dropdown({ hover: true })
    })

    jQuery.urlContain = function(name) {
      return (window.location.pathname.indexOf(name) !=-1)
    }

    jQuery.urlSub = function(name) {
      var results = window.location.pathname.match(/([^\/]*)\/*$/)
      if (results) {
        return results[0].replace('/', '')
      } else {
        return null
      }
    }

    jQuery.urlParam = function(name) {
      var results = new RegExp('[\?&]' + name + '=([^&#]*)').exec(window.location.href)
      if (results) {
        return results[1] || 0
      } else {
        return null
      }
    }

    Handlebars.registerHelper('timeformat', function (date, format) {
        var mmnt = moment.unix(date)
        return mmnt.format(format)
    })

    Handlebars.registerHelper('list', function(items) {
      var out = ''
      for(var i = 0, l = items.length; i < l; i++) {
        out = out + '<a class="chip red lighten-3 white-text" href="?keyword='+ items[i] +'">' + items[i] + '</a>'
      }
      return out
    })

    var url = '/api/v1/archive/list?'
    var page = 1
    var limit = 10

    if (jQuery.urlContain('news_archiver')) {
      url = '/news_archiver' + url
      jQuery('ul#dropdown-time > li > a').each(function(i, link) {
        link = jQuery(link).attr('href', '/news_archiver' + jQuery(link).attr('href'))
      })
    }

    if ('daily' === jQuery.urlSub('daily')) {
      url = url + 'time=daily&'
    } else if ('weekly' === jQuery.urlSub('weekly')) {
      url = url + 'time=weekly&'
    }

    keyword = jQuery.urlParam('keyword') || ''
    keyword = decodeURIComponent(keyword)
    limit = jQuery.urlParam('limit') || limit
    page = jQuery.urlParam('page') || page
    cat = jQuery.urlParam('cat') || ''
    cat = decodeURIComponent(cat)

    var done = false
    var showed = false
    window.addEventListener('scroll', jQuery.throttle(250, function() {
      var wrap = document.getElementById('cards')
      var contentHeight = wrap.offsetHeight
      var yOffset = window.pageYOffset
      var y = yOffset + window.innerHeight
      if (y >= contentHeight) {
        if (!showed && done) {
          Materialize.toast("已經到底了 (┌・ω・)┌", 5000)
          showed = true
          return showed
        }
        if (showed || done) {
          return done
        }

        page = page + 1
        var params = jQuery.param({ page, limit, cat, keyword })

        fetch(url + params)
          .then(function(response) {
            return response.json()
          }).then(function(data) {
            items = data.items
            if (items.length == 0) {
              done = true
              return done
            }
            var source   = $("#card-template").html()
            var template = Handlebars.compile(source)
            jQuery.each(items, function (index, item) {
              var context = item
              var html = template(context)
              jQuery('#cards').append(html)
            })
          }).catch(function(ex) {
            // pass
          })
        }
      }))

  </script>
  {% endraw %}
</body>
</html>
